<div class="friends-hold">
  <div class="search-frnd">
    <h2>Find your friend</h2>
    <input type="text" placeholder="Try your friends name " class="search-box">
    <div class="frn-s-list">
      <div class="frnd-cont">
        <div class="img-name">
          <img src="../../../assets/images/notification-img.jpg" alt="">
          <p>Bhargav Kuchipudi</p>
        </div>
        <div class="frnd-btns">
          <button class="accept">Add Friend</button>
        </div>
      </div>
    </div>
  </div>
  <div class="requests">
    <h2>Requests</h2>
    <div class="request-list">
      <div class="frnd-cont">
        <div class="img-name">
          <img src="../../../assets/images/notification-img.jpg" alt="">
          <p>Bhargav Kuchipudi</p>
        </div>
        <div class="frnd-btns">
          <button class="accept">Accept</button>
          <button class="reject">Reject</button>
        </div>
      </div>
      <div class="frnd-cont">
        <div class="img-name">
          <img src="../../../assets/images/notification-img.jpg" alt="">
          <p>Bhargav Kuchipudi</p>
        </div>
        <div class="frnd-btns">
          <button class="accept">Accept</button>
          <button class="reject">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>