<div class="pro-hold">
  <div class="pro-set">
    <h2>Profile Info</h2>
    <div class="pro-img">
      <img src="../../../assets/images/default-pro-pic.png" alt="" width="200px" height="200px">
      <input type="file" class="img-upload" id="asap-img">
      <div class="pen">
        <label for="asap-img">
          <i class="fas fa-pencil-alt icon"></i>
        </label>
      </div>
    </div>
    <div class="pro-det">
      <div class="pro-name">
        <input type="text" placeholder="FirstName">
        <input type="text" placeholder="LastName">
      </div>
      <div class="pro-name">
        <input type="email" placeholder="Email">
        <input type="number" placeholder="Mobile Number">
      </div>
    </div>
  </div>
  <div class="password-hold">
    <h2>Password Settings</h2>
    <input type="password" placeholder="Current Password">
    <input type="password" placeholder="New Password">
    <input type="password" placeholder="Confirm Password">
    <button type="submit" class="submit-btn">Update Profile</button>
  </div>
</div>